// matches style start
%trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
// adds item start
.adds {
  height: 280px;
  line-height: 18;
}
// adds item end
.section-title {
  margin-right: 0 !important;
}

.navbar-section {
  background-color: white;
}

// matches content section start
.matches-content {
  background-color: #f7f7f7;
  .matches-tabs {
    padding: 30px 0;
    .tab-content {
      .dp-block {
        margin-bottom: 20px;
        justify-content: space-between;
        background-color: white;
        border-radius: 7px;
        .prev-month,
        .prev-day,
        .next-day,
        .next-month {
          @extend %trans;
          border: none;
          width: 80px;
          height: 80px;
          background-color: white;
          @media (max-width: 576px) {
            width: 40px;
            height: 40px;
          }
        }
        .next-month,
        .next-day {
          img {
            transform: rotate(180deg);
            @extend %trans;
          }
          &:hover {
            img {
              @extend %trans;
              @media (min-width: 767px) {
                transform: rotate(180deg) translateX(-5px);
              }
            }
          }
        }
        .prev-month,
        .prev-day {
          img {
            @extend %trans;
          }
          &:hover {
            img {
              @extend %trans;
              @media (min-width: 767px) {
                transform: translateX(-5px);
              }
            }
          }
        }
        .prev-month {
          border-radius: 7px 0px 0px 7px;
        }
        .next-month {
          border-radius: 0px 7px 7px 0px;
        }
        .next-day,
        .prev-day {
          border-left: 3px solid #f7f7f7;
          border-right: 3px solid #f7f7f7;
        }
        .d-picker {
          color: var(--blackColor);
          font: 16px/20px "sansB";
          align-items: center;
          // position: relative;
          .datepicker {
            border: none;
            height: 100%;
            text-align: center;
            font: 16px/20px "sansB";
            color: var(--blackColor);
            outline: unset;
            direction: rtl;
            @media (max-width: 576px) {
              width: 100px;
              font: 12px/20px "sansB";
            }
          }
          &::after {
            content: "";
            background-image: url("../imgs/icons/calendar-alt-solid.svg");
            width: 18px;
            height: 20px;
            top: 0;
            right: 0;
            position: absolute;
            fill: #557ae0;
          }
        }
      }
      .match-details {
        background-color: white;
        border: none;
      }
    }
  }
  .a-block {
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 20px;
    .adds {
      margin-bottom: 0;
    }
  }
  .top-soccer {
    margin-top: 30px;
    border-radius: 7px;
    .latest-news {
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      .section-title {
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 50px;
      }
      .latest-news-card {
        margin-bottom: 20px;
        border-bottom: 1px solid #f2efef;
        padding-bottom: 20px;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

.datepicker-rtl.dropdown-menu {
  padding: 10px;
  // right: 30% !important;
  @media (min-width: 1200px) {
    right: 52.5% !important;
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    right: 50.5% !important;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    right: 33.5% !important;
    left: 33.5% !important;
  }
  @media (max-width: 767px) and (min-width: 576px) {
    right: 30.5% !important;
    left: 30.5% !important;
  }
  @media (max-width: 576px) and (min-width: 500px) {
    left: auto;
    right: 30% !important;
  }
  @media (max-width: 500px) and (min-width: 450px) {
    left: 28%;
    right: 28% !important;
  }
  @media (max-width: 449px) {
    left: 23%;
    right: 23% !important;
    padding-right: 17px;
  }
}
.datepicker td,
.datepicker th {
  @media (min-width: 576px) {
    width: 40px;
  }
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: var(--goldColor);
  background-image: unset;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  color: var(--goldColor);
  background-color: unset;
}
.datepicker-dropdown::after,
.datepicker-dropdown::before {
  content: unset;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
  background: unset;
}
.datepicker table tr td span:hover {
  color: var(--goldColor);
}
