// matches style start
%trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
// adds item start
.adds {
  height: 280px;
  line-height: 18;
}
// adds item end
.section-title {
  margin-right: 0 !important;
}


// matches content section start
.matches-content {
  background-color: #f7f7f7;
  .matches-tabs {
    padding: 30px 0;
    .tab-content {
      .match-details {
        background-color: white;
      }
    }
  }
  .a-block {
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 20px;
    .adds {
      margin-bottom: 0;
    }
  }
  .top-soccer {
    margin-top: 30px;
    border-radius: 7px;
    .latest-news {
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      .section-title {
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 50px;
      }
      .latest-news-card {
        margin-bottom: 20px;
        border-bottom: 1px solid #f2efef;
        padding-bottom: 20px;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

// matches content section end
