// matches style start
%trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
// adds item start
.adds {
  height: 280px;
  line-height: 18;
}
// adds item end
.section-title {
  margin-right: 0 !important;
}

.navbar-section {
  background-color: white;
  .navbar {
    background: unset;
    border: none;
    height: unset;
    line-height: unset;
    box-shadow: unset;
    .navbar-toggler {
      &:focus {
        background-color: unset;
      }
    }
    .navbar-collapse {
      line-height: unset;
      .navbar-nav {
        li {
          &.active {
            background-color: unset;
          }
        }
        a {
          &:hover {
            background-color: unset;
          }
        }
      }
    }
    .form-inline {
      .form-control {
        width: auto;
        margin-bottom: 0;
        padding: 0.375rem 0.75rem;
        height: calc(1.5em + 0.75rem + 2px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }
      button {
        &.btn {
          height: unset;
          border: none;
          box-shadow: unset;
        }
      }
    }
  }
}

// matches content section start
.matches-content {
  background-color: #f7f7f7;
  .matches-tabs {
    padding: 30px 0;
    .tab-content {
      .dp-block {
        margin-bottom: 20px;
        justify-content: space-between;
        background-color: white;
        border-radius: 7px;
        .prev-month,
        .prev-day,
        .next-day,
        .next-month {
          border: none;
          width: 80px;
          height: 80px;
          background-color: white;
          @media (max-width: 576px) {
            width: 40px;
          }
        }
        .prev-month,
        .prev-day {
          img {
            transform: rotate(180deg);
          }
        }
        .prev-month {
          border-radius: 0 7px 7px 0;
        }
        .next-month {
          border-radius: 7px 0px 0px 7px;
        }
        .next-day,
        .prev-day {
          border-left: 3px solid #f7f7f7;
          border-right: 3px solid #f7f7f7;
        }
        .d-picker {
          color: var(--blackColor);
          font: 16px/20px "sansB";
          align-items: center;
          .datepicker {
            border: none;
            height: 100%;
            text-align: center;
            font: 16px/20px "sansB";
            color: var(--blackColor);
          }
          // form,
          // .mk-datepicker-container,
          // #start-date {
          //   height: 100%;
          //   border: none;
          // }
          // .mk-datepicker {
          //   padding-top: 50px;
          // }
          // .mk-datepicker-calendar .today {
          //   background-color: var(--goldColor);
          // }
          // .mk-datepicker-next-m {
          //   right: 30px;
          // }
        }
        // .mk-datepicker-controls {
        //   direction: ltr;
        // }
        // .mk-datepicker-label {
        //   position: absolute;
        //   top: 4%;
        //   width: 100%;
        //   left: 0;
        //   font: 12px "sansB";
        //   color: var(--blackColor);
        // }
      }
      .match-details {
        background-color: white;
      }
    }
  }
  .a-block {
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 20px;
    .adds {
      margin-bottom: 0;
    }
  }
  .top-soccer {
    margin-top: 30px;
    border-radius: 7px;
    .latest-news {
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      .section-title {
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 50px;
      }
      .latest-news-card {
        margin-bottom: 20px;
        border-bottom: 1px solid #f2efef;
        padding-bottom: 20px;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

// matches content section end
.site-app,
.footer-section {
  background-color: white;
}

// contact us modal
#exampleModal {
  max-height: unset;
  background-color: unset;
  .modal-footer {
    background-color: unset;
  }
}
// edit framework
.row {
  margin-bottom: 0;
  &::after {
    content: unset;
  }
}

// datepicker modal
.datepicker-modal {
  background-color: unset;
  box-shadow: unset;
  .datepicker-container {
    &.modal-content {
      border-radius: 7px;
      .datepicker-table abbr{
        text-decoration: none;
      }
      .datepicker-done{
        display: none;
      }
    }
  }
  .datepicker-controls {
    .month-prev,
    .month-next {
      transform: rotate(180deg);
    }
  }
}
