.fr-league .news-lines .lines a, .fr-league .news-lines .lines a span, .fr-league .news-lines .lines a b, .fr-league .news-lines .lines a:hover b, .fr-league .news-lines .lines a:hover span, .league-tabs nav .nav-tabs .nav-item, .league-tabs nav .nav-tabs .nav-link:hover, .league-tabs nav .nav-tabs .nav-link.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.latest-news-section {
  border-top: 1px solid #ebeaea;
  margin-top: 0;
  padding-top: 50px;
  margin-bottom: 115px;
}

.en-league {
  background-color: #f7f7f7;
  padding-bottom: 30px;
  margin-bottom: 0;
  border-top: none;
}

.en-league .news .news-item {
  margin-bottom: 20px;
}

.en-league .news .news-item img {
  width: 100%;
}

.en-league .news .news-item.item450 {
  height: 450px;
}

.en-league .news .news-item.item450 img {
  height: 450px;
}

.en-league .news .news-item.item450 .news-title b {
  font: 14px/23px "sansB";
}

.en-league .news .news-item.item215 {
  height: 215px;
}

.en-league .news .news-item.item215 img {
  height: 215px;
}

.en-league .news .news-item.item215 .news-title {
  bottom: 20px;
  right: 20px;
  left: 20px;
}

.en-league .news .news-item.item215 .news-title b {
  font: 14px/21px "sansB";
}

.en-league .left-news {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 7px;
  padding: 25px;
  padding-bottom: 5px;
}

.en-league .left-news .latest-news-card .card-imge {
  width: 100px;
  height: 80px;
}

.en-league .left-news .latest-news-card .card-imge img {
  width: 100px;
  height: 80px;
}

.en-league .left-news .latest-news-card .card-body .card-text {
  font: 13px/23px "sansB";
}

.en-league .all-items {
  margin-top: 70px;
}

.fr-league {
  border-top: none;
}

.fr-league .news-cards {
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 7px;
}

.fr-league .news-cards .latest-news-card {
  padding-bottom: 20px;
}

.fr-league .news-cards .latest-news-card .card-body {
  padding-bottom: 0;
}

.fr-league .news-cards .latest-news-card .card-body .text-muted {
  margin-bottom: 0;
}

.fr-league .news .news-item {
  height: 540px;
}

.fr-league .news .news-item img {
  height: 540px;
}

.fr-league .fr-col-p:first-of-type {
  padding-left: 10px !important;
}

.fr-league .fr-col-p:nth-of-type(2) {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.fr-league .fr-col-p:last-of-type {
  padding-right: 10px !important;
}

.fr-league .news-lines {
  padding-right: 25px;
}

.fr-league .news-lines .lines {
  margin-bottom: 25px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
}

.fr-league .news-lines .lines a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-break-after: column;
          break-after: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fr-league .news-lines .lines a span {
  padding: 1.5px;
  height: 23px;
  background-color: var(--grayColor);
}

.fr-league .news-lines .lines a b {
  font: 15px/25px "sansB";
  color: var(--blackColor);
  position: relative;
  right: 20px;
  height: 50px;
  max-height: 50px;
}

.fr-league .news-lines .lines a:hover b {
  color: var(--purpleColor);
}

.fr-league .news-lines .lines a:hover span {
  background-color: var(--blackColor);
}

.fr-league .all-items {
  margin-top: 55px;
}

.league-tabs {
  border-top: 1px solid var(--grayborder);
  margin-bottom: 100px;
}

.league-tabs nav .nav-tabs {
  border-bottom: none;
}

.league-tabs nav .nav-tabs .nav-item {
  border: none;
  border-top: 3px solid transparent;
  padding: 30px 0;
  margin-left: 40px;
  font: 15px/23px "sansB";
  color: #a0a3a0;
}

@media (max-width: 992px) {
  .league-tabs nav .nav-tabs .nav-item {
    margin-left: 20px;
    font: 13px/23px "sansB";
  }
}

@media (max-width: 767px) {
  .league-tabs nav .nav-tabs .nav-item {
    margin-left: 10px;
    font: 12px/23px "sansB";
  }
}

.league-tabs nav .nav-tabs .nav-link:hover, .league-tabs nav .nav-tabs .nav-link.active {
  border: none;
  border-top: 3px solid var(--goldColor);
  border-radius: 0;
  color: var(--blackColor);
}

.league-tabs .tab-content {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 20px;
}

.league-tabs .tab-content .news .news-item {
  height: 180px;
}

.league-tabs .tab-content .news .news-item img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.league-tabs .tab-content .news .news-item .news-title {
  bottom: 20px;
  right: 20px;
  left: 40px;
}

.league-tabs .tab-content .news .news-item .news-title b {
  font: 14px/21px "sansB";
}

.site-app {
  padding-top: 0;
}
/*# sourceMappingURL=news.css.map */