%trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.latest-news-section {
  border-top: 1px solid #ebeaea;
  margin-top: 0;
  padding-top: 50px;
  margin-bottom: 115px;
}

.en-league {
  background-color: #f7f7f7;
  padding-bottom: 30px;
  margin-bottom: 0;
  border-top: none;
  .news {
    .news-item {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
      &.item450 {
        height: 450px;
        img {
          height: 450px;
        }
        .news-title {
          b {
            font: 14px/23px "sansB";
          }
        }
      }
      &.item215 {
        height: 215px;
        img {
          height: 215px;
        }
        .news-title {
          bottom: 20px;
          right: 20px;
          left: 20px;
          b {
            font: 14px/21px "sansB";
          }
        }
      }
    }
  }
  .left-news {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    padding: 25px;
    padding-bottom: 5px;
    .latest-news-card {
      .card-imge {
        width: 100px;
        height: 80px;
        img {
          width: 100px;
          height: 80px;
        }
      }
      .card-body {
        .card-text {
          font: 13px/23px "sansB";
        }
      }
    }
  }
  .all-items {
    margin-top: 70px;
  }
}

// fr league
.fr-league {
  border-top: none;
  margin-bottom: 20px;
  padding-top: 60px;
  .news-cards {
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 7px;
    .latest-news-card {
      padding-bottom: 20px;
      .card-body {
        padding-bottom: 0;
        .text-muted {
          margin-bottom: 0;
        }
      }
    }
  }
  .news {
    .news-item {
      height: 540px;
      img {
        height: 540px;
      }
    }
  }
  .fr-col-p {
    &:first-of-type {
      padding-left: 10px !important;
    }
    &:nth-of-type(2) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    &:last-of-type {
      padding-right: 10px !important;
    }
  }
  .news-lines {
    padding-right: 25px;
    .lines {
      margin-bottom: 25px;
      height: 50px;
      max-height: 50px;
      overflow: hidden;
      a {
        display: flex;
        justify-content: center;
        break-after: column;
        align-items: center;
        @extend %trans;
        span {
          padding: 1.5px;
          height: 23px;
          background-color: var(--grayColor);
          @extend %trans;
        }
        b {
          font: 15px/25px "sansB";
          color: var(--blackColor);
          position: relative;
          right: 20px;
          height: 50px;
          max-height: 50px;
          @extend %trans;
        }
        &:hover {
          b {
            color: var(--purpleColor);
            @extend %trans;
          }
          span {
            background-color: var(--blackColor);
            @extend %trans;
          }
        }
      }
    }
  }
  .all-items {
    margin-top: 55px;
  }
}

// ar league section
.ar-league {
  background-color: white;
  margin-bottom: 60px;
  padding-top: 10px;
  .eg-league,
  .sa-league {
    .news {
      .ar-col-p {
        padding-left: 5px;
      }
      .item215,
      .item215 img {
        height: 190px;
      }
    }
    .all-items {
      margin-top: 40px;
    }
  }

  .sa-league {
    .news-cards {
      padding: 35px 20px 40px 20px;
      .latest-news-card {
        .card-imge {
          width: 90px;
          height: 70px;
          img {
            width: 90px;
            height: 70px;
          }
        }
        .card-body {
          padding-right: 12px;
          .card-text {
            font: 13px/23px "sansB";
          }
          .text-muted {
            font: 12px/25px "sansP";
          }
        }
      }
    }
  }
}
// league tabs section
.league-tabs {
  border-top: 1px solid var(--grayborder);
  margin-bottom: 100px;
  padding-top: 0;
  nav {
    .nav-tabs {
      border-bottom: none;
      .nav-item {
        border: none;
        border-top: 3px solid transparent;
        padding: 30px 0;
        margin-left: 40px;
        font: 15px/23px "sansB";
        color: #a0a3a0;
        @extend %trans;
        @media (max-width: 992px) {
          margin-left: 20px;
          font: 13px/23px "sansB";
        }
        @media (max-width: 767px) {
          margin-left: 10px;
          font: 12px/23px "sansB";
        }
      }
      .nav-link {
        &:hover,
        &.active {
          border: none;
          border-top: 3px solid var(--goldColor);
          border-radius: 0;
          color: var(--blackColor);
          @extend %trans;
        }
      }
    }
  }
  .tab-content {
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 20px;
    .news {
      .news-item {
        height: 180px;
        img {
          height: 180px;
          width: 100%;
          object-fit: cover;
        }
        .news-title {
          bottom: 20px;
          right: 20px;
          left: 40px;
          b {
            font: 14px/21px "sansB";
          }
        }
      }
    }
  }
}

// site app
.site-app {
  padding-top: 0;
}
