.search-result {
  margin-top: 30px;
  .search-form {
    margin-bottom: 40px;
    .form-inline {
      .form-control {
        height: 75px;
        padding: 30px;
        width: 100%;
        font: 16px/23px "sansB";
        border: 2px solid #ebeaea;
        border-radius: 7px;
        &::placeholder {
          color: #a0a3a0;
        }
      }
      // .s-clear {
      //   width: 35px;
      //   height: 35px;
      //   background-color: #f7f7f7;
      //   border-radius: 50%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   position: absolute;
      //   left: 45px;
      //   border: none;
      //   svg {
      //     color: #a0a3a0;
      //     font-size: 14px;
      //   }
      // }
    }
  }
  .nav {
    .nav-link {
      font: 16px/28px "sansB";
      color: #a0a3a0 !important;
      padding: 0;
      margin-left: 25px;
      @media (max-width: 576px) {
        font: 12px/28px "sansB";
      }
      &.active,
      &:hover {
        color: var(--goldColor) !important;
        background: none;
      }
    }
    .s-result {
      margin-right: auto;
      p {
        font: 13px/28px "sansB";
        color: #a0a3a0;
        span {
          color: var(--goldColor);
        }
      }
    }
  }
  .tab-content {
    .news-cards,
    .teams-score,
    .league {
      overflow: auto;
      padding-left: 60px;
      @media (max-width: 576px) {
        padding-left: 15px;
      }
    }
    // .news-cards {
    // }
    .teams-score {
      background-color: white;
      padding-top: 0;
      .t-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        border: 1px solid #ebeaea;
        border-radius: 7px;
        margin-bottom: 20px;
        @media (max-width: 576px) {
          display: block;
        }
        .t-info {
          margin-bottom: 20px;
        }
        .t-logo {
          img {
            width: 60px;
            height: 60px;
          }
        }
        .t-goals {
          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .league {
      .border-gray {
        border: 1px solid #ebeaea;
        border-radius: 7px;
      }
      .item {
        margin-bottom: 20px;
        .league-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 30px;
          .l-img {
            display: flex;
            align-items: center;
          }
          img {
            width: 50px;
            height: 50px;
            margin-left: 25px;
          }
          h3 {
            font: 15px/23px "sansB";
            margin-bottom: 0;
            color: var(--blackColor);
          }
          span {
            color: var(--blackColor);
            width: 30px;
            height: 30px;
            font: 13px/20px "sansB";
            border-radius: 50%;
            display: flex;

            justify-content: center;

            align-items: center;

            background: rgba(224, 189, 85, 0.050980392156862744);
            border: 1px solid rgba(224, 189, 85, 0.30196);
          }
        }
      }
    }
  }
}

/* width */
/*::-webkit-scrollbar {
  width: 6px;
}*/

/* Track */
// ::-webkit-scrollbar-track {
//   background: white;
// }

/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #f2efef;
//   border-radius: 17px;
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
