.search-result {
  margin-top: 30px;
}

.search-result .search-form {
  margin-bottom: 40px;
}

.search-result .search-form .form-inline .form-control {
  height: 75px;
  padding: 30px;
  width: 100%;
  font: 16px/23px "sansB";
  border: 2px solid #ebeaea;
  border-radius: 7px;
}

.search-result .search-form .form-inline .form-control::-webkit-input-placeholder {
  color: #a0a3a0;
}

.search-result .search-form .form-inline .form-control:-ms-input-placeholder {
  color: #a0a3a0;
}

.search-result .search-form .form-inline .form-control::-ms-input-placeholder {
  color: #a0a3a0;
}

.search-result .search-form .form-inline .form-control::placeholder {
  color: #a0a3a0;
}

.search-result .nav .nav-link {
  font: 16px/28px "sansB";
  color: #a0a3a0 !important;
  padding: 0;
  margin-left: 25px;
}

@media (max-width: 576px) {
  .search-result .nav .nav-link {
    font: 12px/28px "sansB";
  }
}

.search-result .nav .nav-link.active, .search-result .nav .nav-link:hover {
  color: var(--goldColor) !important;
  background: none;
}

.search-result .nav .s-result {
  margin-right: auto;
}

.search-result .nav .s-result p {
  font: 13px/28px "sansB";
  color: #a0a3a0;
}

.search-result .nav .s-result p span {
  color: var(--goldColor);
}

.search-result .tab-content .news-cards,
.search-result .tab-content .teams-score,
.search-result .tab-content .league {
  overflow: auto;
  padding-left: 60px;
}

@media (max-width: 576px) {
  .search-result .tab-content .news-cards,
  .search-result .tab-content .teams-score,
  .search-result .tab-content .league {
    padding-left: 15px;
  }
}

.search-result .tab-content .teams-score {
  background-color: white;
  padding-top: 0;
}

.search-result .tab-content .teams-score .t-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  border: 1px solid #ebeaea;
  border-radius: 7px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .search-result .tab-content .teams-score .t-card {
    display: block;
  }
}

.search-result .tab-content .teams-score .t-card .t-info {
  margin-bottom: 20px;
}

.search-result .tab-content .teams-score .t-card .t-logo img {
  width: 60px;
  height: 60px;
}

.search-result .tab-content .teams-score .t-card .t-goals p:last-of-type {
  margin-bottom: 0;
}

.search-result .tab-content .league .border-gray {
  border: 1px solid #ebeaea;
  border-radius: 7px;
}

.search-result .tab-content .league .item {
  margin-bottom: 20px;
}

.search-result .tab-content .league .item .league-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
}

.search-result .tab-content .league .item .league-details .l-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-result .tab-content .league .item .league-details img {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.search-result .tab-content .league .item .league-details h3 {
  font: 15px/23px "sansB";
  margin-bottom: 0;
  color: var(--blackColor);
}

.search-result .tab-content .league .item .league-details span {
  color: var(--blackColor);
  width: 30px;
  height: 30px;
  font: 13px/20px "sansB";
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(224, 189, 85, 0.0509804);
  border: 1px solid rgba(224, 189, 85, 0.30196);
}

/* width */
/*::-webkit-scrollbar {
  width: 6px;
}*/
/* Track */
/* Handle */
/* Handle on hover */
/*# sourceMappingURL=search-result.css.map */