.league-section .league-content nav .nav-tabs .nav-link, .league-section .league-content nav .nav-tabs .nav-link:hover, .league-section .league-content nav .nav-tabs .nav-link.active, .league-section .league-content nav .nav-tabs .nav-link:hover .item h3, .league-section .league-content nav .nav-tabs .nav-link.active .item h3, .league-section .league-content nav .nav-tabs .nav-link:hover .item span, .league-section .league-content nav .nav-tabs .nav-link.active .item span, .league-section .league-content .owl-carousel .item, .league-section .league-content .owl-carousel .item .league-details h3, .league-section .league-content .owl-carousel .item .league-details span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.league-section {
  padding: 30px 0;
  background-color: white;
  margin-bottom: 0;
  padding: 0;
  border-top: none;
}

.league-section .league-content nav {
  width: 100%;
}

.league-section .league-content nav .nav-tabs .nav-link {
  border-top: none;
  border-bottom: 3px solid transparent;
}

@media (max-width: 992px) {
  .league-section .league-content nav .nav-tabs .nav-link {
    margin-right: 15px;
  }
}

.league-section .league-content nav .nav-tabs .nav-link:hover, .league-section .league-content nav .nav-tabs .nav-link.active {
  border-top: none;
  border-bottom: 3px solid var(--goldColor);
}

.league-section .league-content nav .nav-tabs .nav-link:hover .item h3, .league-section .league-content nav .nav-tabs .nav-link.active .item h3 {
  color: var(--blackColor);
}

.league-section .league-content nav .nav-tabs .nav-link:hover .item span, .league-section .league-content nav .nav-tabs .nav-link.active .item span {
  color: var(--blackColor);
  border: 1px solid rgba(224, 189, 85, 0.301961);
}

@media (max-width: 767px) {
  .league-section .league-content .owl-carousel .owl-stage {
    padding-right: 75px;
  }
}

@media (max-width: 650px) {
  .league-section .league-content .owl-carousel .owl-stage {
    padding-right: 50px;
  }
}

@media (max-width: 576px) {
  .league-section .league-content .owl-carousel .owl-stage {
    padding-right: 0px;
  }
}

@media (max-width: 767px) and (min-width: 567px) {
  .league-section .league-content .owl-carousel .owl-stage .owl-item {
    margin-right: 50px;
  }
}

.league-section .league-content .owl-carousel .item .league-details h3 {
  color: #a0a3a0;
  font: 14px/23px "sansP";
  margin-left: 15px;
}

@media (max-width: 576px) {
  .league-section .league-content .owl-carousel .item .league-details h3 {
    font: 11px/23px "sansP";
  }
}

.league-section .league-content .owl-carousel .item .league-details span {
  color: #a0a3a0;
  border: 1px solid #ebeaea;
  width: 30px;
  height: 30px;
  font: 13px/20px "sansB";
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(224, 189, 85, 0.0509804);
}

@media (max-width: 576px) {
  .league-section .league-content .owl-carousel .item .league-details span {
    width: 20px;
    font: 10px/20px "sansB";
    height: 20px;
  }
}

.league-section .league-content .owl-carousel .owl-dots {
  display: none;
}

.league-section .league-content .owl-carousel .owl-nav {
  margin: 0;
}

.league-section .league-content .owl-carousel .owl-nav .owl-prev,
.league-section .league-content .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 25px;
}

@media (max-width: 576px) {
  .league-section .league-content .owl-carousel .owl-nav .owl-prev,
  .league-section .league-content .owl-carousel .owl-nav .owl-next {
    display: none;
  }
}

.league-section .league-content .owl-carousel .owl-nav .owl-prev span,
.league-section .league-content .owl-carousel .owl-nav .owl-next span {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.league-section .league-content .owl-carousel .owl-nav .owl-prev {
  right: -40px;
}

@media (max-width: 767px) {
  .league-section .league-content .owl-carousel .owl-nav .owl-prev {
    right: 0;
  }
}

.league-section .league-content .owl-carousel .owl-nav .owl-next {
  left: -40px;
}

@media (max-width: 767px) {
  .league-section .league-content .owl-carousel .owl-nav .owl-next {
    left: 0;
  }
}

@media (max-width: 576px) {
  .league-tabs nav .nav-tabs .nav-item {
    margin-left: 20px;
  }
}

.teams-score {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.teams-score .p-num {
  margin-bottom: 30px;
}

.teams-score .p-num p {
  margin-bottom: 0;
  font: 13px/20px "sansB";
  color: #a0a3a0;
}

.teams-score .p-num p span {
  font: 13px/20px "sansB";
  color: var(--blackColor);
}

.teams-score .t-card {
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.teams-score .t-card .t-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams-score .t-card .t-info .t-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teams-score .t-card .t-info .t-logo img {
  width: 70px;
  height: 70px;
}

.teams-score .t-card .t-info .t-logo span {
  background-color: #00b8a9;
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: -20px;
  z-index: 5;
}

.teams-score .t-card .t-info .t-name {
  margin-right: 23px;
}

.teams-score .t-card .t-info .t-name p {
  margin-bottom: 2px;
}

.teams-score .t-card .t-info .t-name p:first-of-type {
  font: 16px/23px "sansB";
  color: var(--blackColor);
}

.teams-score .t-card .t-info .t-name p:last-of-type {
  font: 12px/23px "sansP";
  color: #a0a3a0;
}

.teams-score .t-card .t-rounds {
  padding: 9px 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.teams-score .t-card .t-rounds .num-g-m p {
  margin-bottom: 2px;
}

.teams-score .t-card .t-rounds .num-g-m p:first-of-type {
  font: 16px/20px "sansB";
  color: var(--blackColor);
}

.teams-score .t-card .t-rounds .num-g-m p:last-of-type {
  font: 12px/20px "sansP";
  color: #a0a3a0;
}

.teams-score .t-card .t-goals .num-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams-score .t-card .t-goals .num-goals p {
  font: 14px/20px "sansP";
  color: #a0a3a0;
}

.teams-score .t-card .t-goals .num-goals .num-w,
.teams-score .t-card .t-goals .num-goals .num-l,
.teams-score .t-card .t-goals .num-goals .num-d,
.teams-score .t-card .t-goals .num-goals .num-p {
  font: 14px/20px "sansB";
}

.teams-score .t-card .t-goals .num-goals .num-w {
  color: var(--blueColor);
}

.teams-score .t-card .t-goals .num-goals .num-d {
  color: var(--goldColor);
}

.teams-score .t-card .t-goals .num-goals .num-l {
  color: var(--redColor);
}

.teams-score .t-card .t-goals .num-goals .num-p {
  color: var(--blackColor);
}

.site-app {
  margin-top: 80px;
}
/*# sourceMappingURL=teams.css.map */